@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;

0,400;0,700;1,400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 30;
  left: 0;
  top: 35px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__logo img {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.header__logo img:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li:nth-child(2) {
  padding: 0px 80px 0px 37.5px;
}

.menu__list li:nth-child(5) {
  padding: 0px 37.5px 0px 80px;
}

.menu__list li {
  position: relative;
}

.menu__list li::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  position: absolute;
  top: 50%;
  right: -20px;
  border-radius: 50%;
}

.menu__list li:nth-child(6)::after,
.menu__list li:nth-child(2)::after,
.menu__list li:nth-child(3)::after {
  display: none;
}

.menu__list li:nth-child(5)::after {
  right: 20px;
}

.menu__link {
  padding: 0 20.5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: #f7f7f7;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link:hover {
  color: #666666;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(48, 48, 48, 0.9);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.sticky .icon__menu {
  right: 40px;
}

.sticky .header__logo img {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.sticky .header__logo img:hover {
  -webkit-transform: scale(0.5) rotate(360deg);
      -ms-transform: scale(0.5) rotate(360deg);
          transform: scale(0.5) rotate(360deg);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
  padding-top: 70px;
}

.footer {
  background-color: #282f35;
}

.footer__body {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__address {
  font-size: 14px;
  font-style: italic;
  color: #848789;
}

.footer__address p:nth-child(1) {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._no-webp .social__column{
  background: url("../img/icons/facebook.png") center/cover no-repeat; }

.social__column {
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__column:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

._no-webp .social__column:nth-child(2){
  background: url("../img/icons/twitter.png") center no-repeat; }

.social__column:nth-child(2) {
  margin: 0px 15px;
}

._no-webp .social__column:nth-child(3){
  background: url("../img/icons/pinterest.png") center/cover no-repeat; }

.dev__text {
  font-size: 14px;
  line-height: 17px;
  font-style: italic;
  color: #848789;
  margin: 0 9px 0 0;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main-screen {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__bg span {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000;
}

.main-screen__bg span span {
  color: rgba(100, 194, 158, 0.6);
}

.generation {
  background-color: #2b2b2b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 120px 0;
}

.generation__body {
  position: relative;
  left: -100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.generation__body._active {
  left: 0;
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 33px 0;
}

.block__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #f7f7f7;
  margin: 0 0 18px 0;
  line-height: 24px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  position: relative;
}

.block__text_j:after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  display: block;
  margin: 35px auto 0 auto;
}

.brands_rev .brands__column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.brands_rev .brands__column_b {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  background-color: #2b2b2b;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
  left: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brands__content._active {
  left: 0;
}

.brands__content-b {
  opacity: 0;
}

.brands__content-b._active {
  opacity: 1;
}

.brands__content-l {
  left: -100%;
}

.brands__content:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2b2b2b;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.brands__image {
  padding: 0 0 37.501% 0;
}

.item {
  display: block;
  position: relative;
  height: 100%;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.item__logo span {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: 50px;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item:hover .item__logo {
  visibility: visible;
  opacity: 1;
}

.slider {
  background-color: #2b2b2b;
  padding: 120px 0px 60px 0px;
}

.slider .slider__title {
  color: #f7f7f7;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin-bottom: 35px;
}

.slider__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: #353738;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
  padding-bottom: 80px;
}

.slider__body .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__body .slick-list {
  overflow: hidden;
}

.slider__body .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__body .slick-dots li {
  list-style: none;
}

.slider__body .slick-dots li:nth-child(2) {
  padding: 0 4.5px;
}

.slider__body .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #424242;
}

.slider__body .slick-dots .slick-active button {
  background-color: #64c29e;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.shop__footer {
  background-color: #282f35;
  text-align: center;
  padding: 75px 0;
}

.shop__btn {
  display: inline-block;
  height: 50px;
  padding: 0 60px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.shop__btn:hover {
  background-color: rgba(100, 194, 158, 0.6);
  color: #282f35;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}

.block-shop__item_b {
  padding: 0 0 200% 0;
}

.block-shop__item_l {
  padding: 0 0 100% 0;
}

.email {
  background-color: #2b2b2b;
}

.email__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0;
}

.email__logo {
  margin-bottom: 45px;
}

.email__title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.email__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 8px 0 0;
}

.email__input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  padding: 0px 28px;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #fff;
  background-color: #2b2b2b;
}

.email__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}

.email__btn {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

._no-webp .ibg-0{
  background-image: url("../img/brands/Layer12.png"); }

.ibg-0 {
  background-attachment: fixed;
}

._no-webp .ibg-1{
  background-image: url("../img/brands/Layer11.jpg"); }

._no-webp .ibg-2{
  background-image: url("../img/brands/chernobyl.jpg"); }

.ibg-2 {
  background-position: center -100px;
}

._no-webp .ibg-3{
  background-image: url("../img/brands/Layer15.png"); }

._no-webp .ibg-4{
  background-image: url("../img/brands/Layer14.jpg"); }

._no-webp .ibg-5{
  background-image: url("../img/brands/Layer16.png"); }

._no-webp .ibg-6{
  background-image: url("../img/brands/Layer13.jpg"); }

._no-webp .ibg-7{
  background-image: url("../img/brands/Layer.png"); }

._no-webp .ibgs-1{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-2{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-3{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-4{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-5{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-6{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-7{
  background-image: url("../img/shop/Layer25.jpg"); }

._no-webp .ibgs-8{
  background-image: url("../img/shop/Layer25.jpg"); }

@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0 auto;
  }

  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1100px) {
  .brands__item {
    height: auto;
    padding: 0 0 70% 0;
  }

  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .brands__last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .brands__last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .brands__last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column:first-child,
  .shop__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .shop__btn {
    padding: 0 30px;
  }

  .shop__footer {
    padding: 50px 0;
  }

  .email__body {
    padding: 60px 0;
  }
}

@media (max-width: 900px) {
  .header {
    top: 15px;
  }

  .menu__list li:nth-child(2) {
    padding: 0px 0px 0px 0px;
  }

  .menu__list li:nth-child(5) {
    padding: 0px 0 0px 0px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(48, 48, 48, 0.9);
    padding: 30% 0 20px 0;
    overflow: auto;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    top: -100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body.active {
    top: 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 40px 0 40px 0;
  }

  .menu__list li:after {
    content: "";
    width: 3px;
    height: 3px;
    top: 80px;
    right: 50%;
    background-color: #4d4959;
    border-radius: 50%;
  }

  .menu__list li:nth-child(5)::after {
    right: 50%;
    top: 40px;
  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .icon__menu {
    width: 30px;
    height: 20px;
    display: block;
    position: absolute;
    right: 40px;
    top: 25px;
    z-index: 3;
  }

  .icon__menu:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f7f7f7;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .icon__menu:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .icon__menu span {
    width: 100%;
    height: 2px;
    background-color: #f7f7f7;
    position: absolute;
    top: 9px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .icon__menu.active::before {
    -webkit-transform: translateY(8px) rotate(45deg) scale(-1);
        -ms-transform: translateY(8px) rotate(45deg) scale(-1);
            transform: translateY(8px) rotate(45deg) scale(-1);
    background-color: #fff;
  }

  .icon__menu.active::after {
    -webkit-transform: translateY(-10px) rotate(-45deg) scale(-1);
        -ms-transform: translateY(-10px) rotate(-45deg) scale(-1);
            transform: translateY(-10px) rotate(-45deg) scale(-1);
    background-color: #fff;
  }

  .icon__menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 40px 0;
  }

  .footer__social {
    margin: 20px 0 15px 0;
  }

  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .slider {
    padding: 40px 0px 30px 0px;
  }

  .slider__body {
    padding: 0px 10px;
  }

  .slider__text {
    padding-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .main-screen__bg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-screen__bg span {
    font-size: 50px;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 30px 10px;
  }

  .email__body {
    padding: 30px 0;
  }

  .email__form {
    display: block;
  }

  .email__email {
    padding: 0 0px 8px 0;
  }

  .email__btn {
    width: 100%;
  }
}

._webp .social__column{ background: url(../img/icons/facebook.webp) center/cover no-repeat; }

._webp .social__column:nth-child(2){ background: url(../img/icons/twitter.webp) center no-repeat; }

._webp .social__column:nth-child(3){ background: url(../img/icons/pinterest.webp) center/cover no-repeat; }

._webp .ibg-0{ background-image: url(../img/brands/Layer12.webp); }

._webp .ibg-1{ background-image: url(../img/brands/Layer11.webp); }

._webp .ibg-2{ background-image: url(../img/brands/chernobyl.webp); }

._webp .ibg-3{ background-image: url(../img/brands/Layer15.webp); }

._webp .ibg-4{ background-image: url(../img/brands/Layer14.webp); }

._webp .ibg-5{ background-image: url(../img/brands/Layer16.webp); }

._webp .ibg-6{ background-image: url(../img/brands/Layer13.webp); }

._webp .ibg-7{ background-image: url(../img/brands/Layer.webp); }

._webp .ibgs-1{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-2{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-3{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-4{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-5{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-6{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-7{ background-image: url(../img/shop/Layer25.webp); }

._webp .ibgs-8{ background-image: url(../img/shop/Layer25.webp); }